body {
    background-image: url(../images/mc2.jpg);
    background-size: 100%;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    color: #454545;
    text-align: center;
    margin: 100px;
}

.container {
    font-family: 'Courier New', Courier, monospace;
    color: #454545;
    text-align: center;
    margin: 0 auto;
    margin-left: 25%;
    background-color: greenyellow;
}

#intro, #message, #question, #reveal, #choices, #finalMessage, #correct, #wrong, #noAnswer, .reset {
    font-size: 30px;
}

#choices {
    margin-bottom: 5px;
}

.thisChoice:hover, .reset:hover {
    color: white;
}